<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>inProduction</key>
	<true/>
	<key>developmentAppKey</key>
	<string>qAzlvvirR-K8U5HI40_R2Q</string>
	<key>developmentAppSecret</key>
	<string>iWXA5ZVjS4ORF4YubEdUZA</string>
	<key>productionAppKey</key>
	<string>3cX3gWerS4-NOLzRRVvcmA</string>
	<key>productionAppSecret</key>
	<string>zI2xX217Ru-1gXfpL7XEdA</string>
</dict>
</plist>
