#mySearch1 {
    background-color : #fff;
    font-size        : 16px;
    font-family      : Arial;
    font-weight      : normal;
}

#mySearch2 {
    background-color : #4787ed;
    font-size        : 16px;
    font-family      : Arial;
    font-weight      : normal;
}

#mySearch3 {
  background-color   : #D14836;
}
